<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/default_user_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/default_user_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.Videopirateapp"
        tools:targetApi="31">
        <activity
            android:name=".Dialogs.CreatePlaylistDialogActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Dialogs.Create"
            android:exported="false" />
        <activity
            android:name=".Dialogs.PlaylistOptionsDialogActivity"
            android:exported="false" />
        <activity
            android:name=".Dialogs.UserOptionsDialogActivity"
            android:exported="false" />
        <activity
            android:name=".Dialogs.VideoOptionsDialogActivity"
            android:exported="false" />
        <activity
            android:name=".Dialogs.CommentOptionsDialogActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CommentPageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PlaylistPageActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewComponents.CommentListViewComponent"
            android:exported="false" />
        <activity
            android:name=".ListViewComponents.PlaylistListViewComponent"
            android:exported="false" />
        <activity
            android:name=".Activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Dialogs.LoginDialogActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Dialogs.UploadVideoDialogActivity"
            android:exported="false" />
        <activity
            android:name=".Dialogs.MainMenuSearchVideoDialogActivity"
            android:exported="false" /> <!-- <activity -->
        <activity
            android:name=".ListViewComponents.UserListViewComponent"
            android:exported="false" />
        <activity
            android:name=".Activities.UserPageActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewComponents.VideoListViewComponent"
            android:exported="false" />
        <activity
            android:name=".Activities.VideoPageActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewComponents.DatabaseDevListViewComponent"
            android:exported="false" />
        <activity
            android:name=".DatabaseDev"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainMenuActivity"
            android:exported="false" />
    </application>

</manifest>